{% extends 'layouts/base.html' %}

{% block title %} Tablas {% endblock title %}

{% block content %}

  <div class="header bg-primary pb-6">
    <div class="container-fluid">
      <div class="header-body">
        <div class="row align-items-center py-4">
          <div class="col-lg-6 col-7">
            <h6 class="h2 text-white d-inline-block mb-0">Tablas</h6>
            <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
              <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
                <li class="breadcrumb-item"><a href="#">Tablas</a></li>
                <li class="breadcrumb-item active" aria-current="page">Tablas</li>
              </ol>
            </nav>
          </div>
          <div class="col-lg-6 col-5 text-right">
            <a href="#" class="btn btn-sm btn-neutral">New</a>
            <a href="#" class="btn btn-sm btn-neutral">Filters</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Page content -->
  <div class="container-fluid mt--6">
    <div class="row">
      <div class="col">
        <div class="card">
          <!-- Card header -->
          <div class="card-header border-0">
            <h3 class="mb-0">Tabla de Partners</h3>
          </div>
          <!-- Light table -->
          <div class="table-responsive">
            <table class="table align-items-center table-flush">
              <thead class="thead-light">
                <tr>
                  <th scope="col" class="sort" data-sort="name">Nombre Completo</th>
                  <th scope="col" class="sort" data-sort="budget">Función</th>
                  <th scope="col" class="sort" data-sort="status">Límite de Crédito</th>
                  <!-- <th scope="col">Users</th> -->
                  <th scope="col" class="sort" data-sort="completion">Pais(id)</th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody class="list">


                {% for partner in partners %}
                <tr>
                    <th scope="row">
                      <div class="media align-items-center">
                        <!-- <a href="#" class="avatar rounded-circle mr-3">
                          <img alt="Image placeholder" src="/static/assets/img/theme/angular.jpg">
                        </a> -->
                        <div class="media-body">
                          <span class="name mb-0 text-sm">{{partner.name}}</span>
                        </div>
                      </div>
                    </th>
                    <td class="budget">
                      {{partner.function}}
                    </td>
                    <td>
                      <span class="badge badge-dot mr-4">
                        <!-- <i class="bg-success"></i> -->
                        <span class="status">S/.{{partner.credit_limit}}</span>
                      </span>
                    </td>
                    
                    <td>
                      <div class="d-flex align-items-center">
                        <!-- <span class="completion mr-2">100%</span> -->
                        {{partner.country_id}}
                        <!-- <div>
                          <div class="progress">
                            <div class="progress-bar bg-success" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;"></div>
                          </div>
                        </div> -->
                      </div>
                    </td>
                    <td class="text-right">
                      <div class="dropdown">
                        <a class="btn btn-sm btn-icon-only text-light" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <i class="fas fa-ellipsis-v"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                          <a class="dropdown-item" href="#">Action</a>
                          <a class="dropdown-item" href="#">Another action</a>
                          <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                      </div>
                    </td>
                  </tr>
                {% endfor %}

              </tbody>
            </table>
          </div>
          <!-- Card footer -->
          <div class="card-footer py-4">
            <nav aria-label="...">
              <ul class="pagination justify-content-end mb-0">
                <li class="page-item disabled">
                  <a class="page-link" href="#" tabindex="-1">
                    <i class="fas fa-angle-left"></i>
                    <span class="sr-only">Previous</span>
                  </a>
                </li>
                <li class="page-item active">
                  <a class="page-link" href="#">1</a>
                </li>
                <li class="page-item">
                  <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
                </li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                  <a class="page-link" href="#">
                    <i class="fas fa-angle-right"></i>
                    <span class="sr-only">Next</span>
                  </a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
    <!-- Dark table -->
    <div class="row">
      <div class="col">
        <div class="card bg-default shadow">
          <div class="card-header bg-transparent border-0">
            <h3 class="text-white mb-0">Tabla de Leads</h3>
          </div>
          <div class="table-responsive">
            <table class="table align-items-center table-dark table-flush">
              <thead class="thead-dark">
                <tr>
                  <th scope="col" class="sort" data-sort="name">Nombre Completo</th>
                  <th scope="col" class="sort" data-sort="budget">Prioridad</th>
                  <th scope="col" class="sort" data-sort="status">Ingreso Esperado</th>
                  <th scope="col">Probabilidad</th>
                  <th scope="col" class="sort" data-sort="completion">Fecha de Apertura</th>
                  <th scope="col" class="sort" data-sort="completion">Fecha de Cierre</th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody class="list">
                

                {% for lead in leads %}
                    <tr>
                    <th scope="row">
                        <div class="media align-items-center">
                        <!-- <a href="#" class="avatar rounded-circle mr-3">
                            <img alt="Image placeholder" src="/static/assets/img/theme/angular.jpg">
                        </a> -->
                        <div class="media-body">
                            <span class="name mb-0 text-sm">{{lead.name}}</span>
                        </div>
                        </div>
                    </th>
                    <td class="budget">
                        {{lead.priority}}
                    </td>
                    <td>
                        <span class="badge badge-dot mr-4">
                        <!-- <i class="bg-success"></i> -->
                        <span class="status">S/.{{lead.expected_revenue}}</span>
                        </span>
                    </td>
                    <td>
                        <div class="d-flex align-items-center">
                        <span class="completion mr-2">{{lead.probability}} %</span>
                        <div>
                            <div class="progress">
                            <!-- <div class="progress-bar bg-success" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;"></div> -->
                            <div class="progress-bar bg-success" role="progressbar" aria-valuenow="{{lead.probability}}" aria-valuemin="0" aria-valuemax="100" style="width: {{lead.probability}}%"></div>
                            </div>
                        </div>
                        </div>
                    </td>
                    <td>
                        <div class="d-flex align-items-center">
                        <span class="completion mr-2">{{lead.date_open}}</span>
                        </div>
                    </td>
                    <td>
                        <div class="d-flex align-items-center">
                        <span class="completion mr-2">{{lead.date_closed}}</span>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="dropdown">
                        <a class="btn btn-sm btn-icon-only text-light" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-ellipsis-v"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                        </div>
                    </td>
                    </tr>
                {% endfor %}

              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    {% include "includes/footer.html" %}

  </div>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}{% endblock javascripts %}
